<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-primary" href="/pharmacy/customers/create">create</a>
    </div>
    <div class="card-body text-center">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% customers.forEach(function(customers){ %>
          <tr>
            <th scope="row"><%= customers.id %></th>
            <td><%= customers.full_name %></td>
            <td><%= customers.email %></td>
            <td><%= customers.phone_num %></td>
            <td>
              <div>
                <a
                  href="/pharmacy/customers/show/<%= customers.id %> "
                  class="btn btn-success mr-3"
                >
                  Show
                </a>
                <a href="" class="btn btn-info mr-3">update</a>
                <a
                  class="btn btn-danger mr-3"
                  href="/pharmacy/customers/delete/<%= customers.id %> "
                  >delete</a
                >
              </div>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
